@model IEnumerable<EventManagementWebApp.Models.Event>
@{
    var isMember = User.IsInRole("Member");
    var isOrganizer = User.IsInRole("Organizer");
    var isAdmin = User.IsInRole("Admin");
}

@if (isMember || (!isAdmin && !isOrganizer))
{
    <partial name="_Slider" model="Model.Take(5).ToList()" />
}
<main class="container mt-4">
    <partial name="_EventsTable" model="Model" />
</main>
